beautifulsoup4 
bytewax 
click          
fire           
huggingface-hub
langchain      
langchain-core 
langchain-openai        
langchain-qdrant        
langchain-text-splitters
loguru                  
pandas                  
pydantic                
qdrant-client           
requests                
sentencepiece           
tiktoken                
tokenizers              
torch                  
transformers            
typing_extensions       
typing-inspect          
tzdata                  
unstructured            
unstructured-client
websocket-client         
websockets   
sentence-transformers
umap-learn
ipykernel
matplotlib
streamlit 